certifi==2025.4.26
charset-normalizer==3.4.2
Deprecated==1.2.18
googleapis-common-protos==1.70.0
idna==3.10
importlib_metadata==8.6.1
intelhex==2.3.0
opentelemetry-api==1.33.1
opentelemetry-exporter-otlp-proto-common==1.33.1
opentelemetry-exporter-otlp-proto-http==1.33.1
opentelemetry-proto==1.33.1
opentelemetry-sdk==1.33.1
opentelemetry-semantic-conventions==0.54b1
protobuf==5.29.5
pyserial==3.5
python-json-logger==3.3.0
requests==2.32.3
sensirion-driver-adapters==2.3.0
sensirion-driver-support-types==0.2.0
sensirion-i2c-driver==1.0.0
sensirion-i2c-scd4x==1.0.0
sensirion-shdlc-driver==0.1.5
sensirion-shdlc-sensorbridge==0.2.0
typing_extensions==4.13.2
urllib3==2.4.0
wrapt==1.17.2
zipp==3.22.0
